/* body {
     background-image: url('https://unsplash.it/1000/1000');
     background-size: cover;
     background-repeat: no-repeat;
} */

.flex {
     border: 1px solid white;
     margin: 40px;
     height: 100px;

     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     flex-flow: row wrap;
     justify-content: space-evenly;
     justify-items: flex-start;
     align-items: center;
}

/* .flex li:nth-child(2) {
     align-self: center;
     flex-grow: 2;
     flex-shrink: 1;
     flex-basis: 100px;
     flex: 2 3 200px;
     background-color: #fff;
     order: 1;
} */
/* .flex li:nth-child(4) {
     align-self: flex-start; */
/* flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 50px;
     background-color: #fff; */
/* } */




.grid {
     border: 1px solid white;
     margin: 40px;
     height: 200px;
     text-align: center;
     font-size: 2rem;

     display: grid;
     /* grid-template-columns: 3fr 1fr 1fr; */
     grid-template-columns: repeat(3, 1fr);
     /* grid-template-rows: repeat(2, 1fr); */
     grid-template-rows: auto;
     /* grid-template-columns: repeat(3, 1fr); */

     grid-template-areas:
          "a b c"
          "d e f";
}

@media(max-width: 600px) {
     .grid {
          border: 1px solid white;
          margin: 40px;
          height: 200px;
          text-align: center;
          font-size: 2rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;

          grid-template-areas:
               "a b"
               "c d"
               "e f";
     }

}


/* .grid li:nth-child(odd) {
     background-color: #3f7afa;
}

.grid li:nth-child(even) {
     background-color: #44f46d;
} */





.grid li:nth-child(1) {
     background-color: #3f7afa;
     grid-area: a;
     /* grid-column: 1 / 4;
          grid-row: 1 / 3; */
}

.grid li:nth-child(2) {
     background-color: #3ffaaf;
     /* grid-column: 2 / 3;
     grid-row: 1 / 2;  */
     grid-area: b;
}

.grid li:nth-child(3) {
     grid-area: c;
     /* grid-column: 3 / 3;
     grid-row: 1 / 2;  */
     background-color: #fadb3f;
}


.grid li:nth-child(4) {
     grid-area: d;
     /* grid-column: 0 / 1;
     grid-row: 1 / 2; */
     background-color: #f42020;
}

.grid li:nth-child(5) {
     /* grid-column: 0 / 1;
     grid-row: 1 / 2; */
     grid-area: e;
     background-color: #6b2cfe;
}

.grid li:nth-child(6) {
     /* grid-column: 0 / 1;
     grid-row: 5 / 6; */
     grid-area: f;
     background-color: #94237e;
}